body {
      cursor: url(''),auto;
      background: url('https://img.itch.io/aW1hZ2UvMzYzNjIvMTU4MzcwLmdpZg==/original/vaect1.gif');
      background-repeat: no-repeat;
      background-size: cover;
        }


section#game {
            width: 500px;
            height: 650px;
            max-width: 80%;
            max-height: 80%;
            position: relative;
            background-image: url('https://66.media.tumblr.com/3d152f471e21e695b643cdf5948abba5/tumblr_nzmh2cqhMV1rhfekio1_500.gif');
            background-repeat: no-repeat;
            background-size: cover;
            color: red;
            font-size: 30px;
            font-family: "arial,sans-serif";
            margin: auto;

        }

section#game .score{
            display: block;
            position: absolute;
            top: 15px;
            left: 15px;
        }

section#game .time{
            display: block;
            position: absolute;
            top: 15px;
            right: 15px;
        }

section#game .start{
            display: block;
            padding-top: 40%;
            margin: 0 auto 0 auto;
            text-align: center;
            width: 70%;
            cursor: pointer;
        }

section#game .start .high-scores{
            text-align: left;
        }

section#game .gem{
            display: block;
            position: absolute;
            width: 60px;
            height: 60px;
            cursor: pointer;
        }

section#game .gem.green{
  background:url('https://katskivhittlkov.files.wordpress.com/2014/09/starnosed-molepc.jpg')
  no-repeat ;
  background-color: green;
  background-size: cover;
        }

section#game .gem.blue{
    background: url('https://katskivhittlkov.files.wordpress.com/2014/09/starnosed-molepc.jpg') no-repeat;
		background-color: blue;
    background-size: cover;

        }

section#game .gem.red{
    background: url('https://mir-s3-cdn-cf.behance.net/projects/404/8b9ba326328903.555a0e936afd9.jpg') no-repeat;
			background-color: red;
      background-size: cover;

        }
