body{
    background: url('https://66.media.tumblr.com/3d152f471e21e695b643cdf5948abba5/tumblr_nzmh2cqhMV1rhfekio1_500.gif');
    background-size: cover;
    font-family: sans-serif;
}

.header img {
  width: 350px;
  height: 250px;
  margin: auto;
  padding-left: 450px
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  color: red;
  text-decoration: underline;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
.aside {
  color: yellow;
  margin-bottom: 10px;
  text-decoration: underline;
  text-align: left;

}
#whacamole{
    position: relative;
    margin: auto;
    padding: 0;
    border-bottom: 1px  #999;
    cursor: pointer;
    width: 394px;
    height: 228px;
}

#stage{
    position: relative;
    margin: auto;
    padding: 0;
    margin-top: 4px;
    margin-left: 4px;
    width: 480px;
    height: 240px;
    color: transparent;
}

#clock{
    width: 394px;
    height: 36px;
    color: red;
    line-height: 36px;
    padding-left: 6px;
    margin: auto;
}

#score{
    width: 388px;
    color: red;
    line-height: 36px;
    padding-left: 6px;
    margin: auto;
}
#play,
#stop{
    width: 196px;
    margin-top: 5px;
    margin-right: 4px;
    color: red;
    margin: auto;
    background-color: transparent;
}
.active{
    background:url('http://img.gamen.com/@files/gamefile/2014/20141029/thum_1414553495.png');!important;
    background-size: cover;
}
.custom {
   cursor: url('http://www.pd4pic.com/images/park-wooden-cartoon-shapes-hammer-tool-shape.png'), auto;
}
