body{
  background-image: url("http://cdn.osxdaily.com/wp-content/uploads/2014/09/macbook-pro-black-screen.jpg");
  background-size: cover;
  font-family: sans-serif;
  margin-left: 450px;
  margin-bottom: 100px;
  text-align: justify;
}
h1{
  margin-bottom: 30px;
  margin-top: 100px;
  color: lime;
}
#whacamoo{
    position: relative;
    background-color: black;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #999;
    cursor: pointer;
    width: 394px;
    height: 228px;
}

#stage{
  background-color: black;
  color: lime;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 4px;
    margin-left: 4px;
    width: 388px;
    height: 222px;
}

#clock{
  background-color: black;
    border: 1px solid #ccc;
    border-bottom: 1px solid #999;
    width: 388px;
    height: 36px;
    color: lime;
    line-height: 36px;
    padding-left: 6px;

}

#score{
    background-color: black;
    border: 1px solid #ccc;
    border-top: 1px solid #fff;
    width: 388px;
    height: 36px;
    color: lime;
    line-height: 36px;
    padding-left: 6px;
}
#play,
#stop{
    width: 194px;
    height: 24px;
    left: 480px;
    margin-top: 5px;
    margin-right: 4px;
    color: lime;
    background-color: black;

}
.active{
    background-image: url("http://kruelgames.com/media/img/games/whackthatmole/whackthatmole_logo.png");
    background-size: cover;
}
